---
import "@/styles/globals.css"
import TopNavigation from "@/components/TopNavigation.astro"
import Footer from "@/components/Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <TopNavigation />

    <div class="flex flex-col justify-between h-[50vh]">
      <div class="mx-28">
        <h1>Concept</h1>
      </div>
      <Footer />
    </div>
  </body>
</html>
