---
import "@/styles/globals.css"
import Carousel from "@/components/Carousel"
import BaseLayout from "@/layouts/BaseLayout.astro"
const pageTitle = "Concept"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col  h-[50vh] items-center justify-center  ">
    <div class="mx-28 ">
      <Carousel />
    </div>
  </div>
</BaseLayout>
