---
import "@/styles/globals.css"
import Footer from "@/components/Footer.astro"
import TopNavigation from "@/components/TopNavigation.astro"
import CoursesNavigation from "@/components/CoursesNavigation"
import { ewdCourses } from "../data/data"
import { femCourses } from "../data/data"
import { eggCourses } from "../data/data"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ink Notes</title>
  </head>
  <body>
    <TopNavigation />
    <h1 class="px-8">Journal d'Apprentissage</h1>

    <main class="flex flex-col h-[60vh] justify-between">
      <h2>
        <span class="px-8">Ressources principales</span>
      </h2>
      <div class="flex justify-center">
        <CoursesNavigation
          client:load
          courses={ewdCourses}
          title="Epic Web Dev"
        />
        <CoursesNavigation
          client:load
          courses={femCourses}
          title="Frontend Masters"
        />
        <CoursesNavigation client:load courses={eggCourses} title="Egghead.io" />
      </div>

      <!-- <Button variant="destructive" >Hello World</Button> -->

      <Footer />
    </main>
  </body>
</html>
