---
import CoursesNavigation from '@/components/CoursesNavigation';
import BaseLayout from '../layouts/BaseLayout.astro'
import { courses } from '@/data/data';
const pageTitle = "Journal d'apprentissage";
---
<BaseLayout pageTitle={pageTitle}>
  <main class="flex flex-col h-[40vh] justify-between">
    <div class="flex justify-center">
      <CoursesNavigation
        client:load
        courses={courses.ewdCourses}
        title="Epic Web Dev"
      />
      <CoursesNavigation
        client:load
        courses={courses.femCourses}
        title="Frontend Masters"
      />
      <CoursesNavigation
        client:load
        courses={courses.eggCourses}
        title="Egghead.io"
      />
    </div>
  </main>
</BaseLayout>