---
import Resources from "@/components/LearningResources.astro"
---

<footer
  class="flex justify-center items-center bg-gray-100 py-4 mx-6 mt-12 rounded-md"
>
  <p class="text-milan-950 text-md font-light tracking-wide leading-6">
    Favorite learning resources :
    <Resources platform={"epicweb"} extension="dev" displayName="Epic Web Dev" />
    <Resources platform={"frontendMasters"} extension="com" displayName="Frontend Masters" />
    <Resources platform={"egghead"} extension="io" displayName="Egghead" />
  </p>
</footer>
